<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Shiva's Bookstore</title>
</head>

<body>

    <div class="ui large menu">
        <div class="ui container">

            <div class="header item"> <i class="paper plane outline icon"></i> Bookstore</div>
            <a class="item" href="/home">All Books</a>
            <a class="item" href="/new">New Book</a>
            <div class="ui right menu">
                <% if(currentUser){ %>
                    <div class="ui item">
                        <p>Hello, <b><i><%= currentUser.username %></i></b></p>
                    </div>
                     
                    <a href="/logout" class="ui item">Logout</a>
                <% }if(!currentUser){ %>    
                    <a href="/login" class="ui item">Login</a>
                    <a href="/register" class="ui item">Sign Up</a>
                <% } %>
            </div>
        </div>

    </div>