<div class="ui container ">
    <div class="dividing header">

    </div>
    <form class="ui form" method="POST" action="/home/<%= book._id %>">

        <div class="field">
            <!-- <label for="comment">
                Comment
            </label> -->
            <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
        </div>

        <button class="ui basic right aligned black button" type="submit">Add Comment</button>

    </form>

</div>