<% include partials/header %>

<div class="ui container segment centered">
    <h1><%= book.bookname %></h1>
    <div class="ui grid">
        <div class="ui centered row">
                <div class="ten wide column centered rounded">
                    <img src="https://picsum.photos/seed/picsum/1000/600" alt="img">
                </div>
        </div>
        <div class="ui centered row">
            <div class="ten wide column centered">
                A Classic Book
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>